# Application Settings
DEBUG=
ENVIRONMENT=

# Database Settings
DATABASE_URL=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=

# Security Settings
SECRET_KEY=
ACCESS_TOKEN_EXPIRE_MINUTES=
ALGORITHM =

# Middleware Settings
ALLOWED_ORIGINS=